<div class="container">
  <h1><%= @list.name %></h1>
  <h2>show list of movies <%= @list.name %></h2>
  <% @list.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.comment %></li>
      <li><%= bookmark.movie.title %></li>
    <% end %>
      TODO: LINK TO MOVIE SHOW PAGE / DELETE MOVIE FROM LIST/ADD MOVIE TO LIST/GET BACK TO LISTS
  </ul>
</div>
